# Pandas Series:

In [18]:
import pandas as pd

# Creating a Series from a list
data = [10, 20, 30, 40, 50]
s = pd.Series(data)
print("list series:+++++++++++++++++++\n", s)

# Creating a Series with custom index
data = [10, 20, 30, 40, 50]
index = ['a', 'b', 'c', 'd', 'e']
s = pd.Series(data, index=index)
print("custom index series:+++++++++++++++++++\n", s)

# Accessing elements of a Series
print("elemet at index 0 of dataframe s: ", s[0])     
print("elemet at index c of dataframe s: ", s['c'])   

# Performing operations on a Series
s = s * 2
print("Doubled series:+++++++++++++++++++\n", s)

list series:+++++++++++++++++++
 0    10
1    20
2    30
3    40
4    50
dtype: int64
custom index series:+++++++++++++++++++
 a    10
b    20
c    30
d    40
e    50
dtype: int64
elemet at index 0 of dataframe s:  10
elemet at index c of dataframe s:  30
Doubled series:+++++++++++++++++++
 a     20
b     40
c     60
d     80
e    100
dtype: int64

# Pandas DataFrame:

In [19]:
# Creating a DataFrame from a dictionary
data = {
    'Name': ['John', 'Emma', 'Michael'],
    'Age': [25, 30, 35],
    'City': ['New York', 'London', 'Paris']
}

df = pd.DataFrame(data)
df

      Name  Age      City
0     John   25  New York
1     Emma   30    London
2  Michael   35     Paris

In [ ]:
# Creating a DataFrame from a CSV file
data_path = "datasets/fuel.csv"
df = pd.read_csv(data_path)

df

## creating a dataFrame with Numpy

In [22]:
import numpy as np

data_list = [   [10, 20, 30],
                [40, 50, 60],
                [70, 80, 90]  ]

# Create a NumPy array


# Create a DataFrame from the NumPy array
df = pd.DataFrame(data_list)

df

    0   1   2
0  10  20  30
1  40  50  60
2  70  80  90